<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>Document</title>
</head>

<body>
    <form class="add-user">
        <span>Добавить пользователя</span>
        <br>
        <input type="text" id="user" name="" placeholder="name" value="">
        <input type="text" id="score" placeholder="score" name="" value="">
        <button type="button" id= "addUser" name="button">Добавить пользоветеля</button>
    </form>
    <div>
        <table class="centered bordered highlight">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>id</th>
                    <th>score</th>
                </tr>
            </thead>
            <tbody id="js-tbody"></tbody>
        </table>
        <button type="button" id="get" name="button">Обновить список пользователей</button>    
    </div>
    <form class="del">
        <span>Удалить по id</span> 
        <input type="text" id="restId" name="" value="">
        <button type="button" class="delete" name="button">Удалить по id</button>
    </form>
    <form class="update">
        <span>Обновить информацию о пользователе</span>
        <input type="text" id="searchId" name="" placeholder="введите id пользователя" value="">
        <span> name: </span>
        <input type="text" id="refreshName" name="" value="">
         <span>score:</span>
        <input type="text" id="refreshScore" name="" value="">
        <button type="button" id="update" name="button">обновить информацию</button>
    </form>



    <script type="text/template" id="table-row">
        <tr scope="row">
            <td>
                <%- name%>
            </td>
            <td>
                <%- id%>
            </td>
            <td>
                <%- score%>
            </td>
        </tr>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="index.js"></script>

</body>

</html>