<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Templats</title>
</head>

<body>
    <form class="keyboard"></form>


<script type="text/template" id="keyboard">
        <div class="keyboard__row">
            <% topRow[0].forEach(item => { %> 
                <button class="keyboard__btn">
                    <%- item %>
                </button>
                <% }) %>
        </div>
        <div class="keyboard__row">
                <% midleRow[0].forEach(item => { %> 
                    <button class="keyboard__btn">
                         <%- item %>
                    </button>
                <% }) %>
        </div>
        
        <div class="keyboard__row">
             <% bottomRow[0].forEach(item => { %> 
            <button class="keyboard__btn">
                <%- item %>
                    </button>
            <% }) %>

        </div>

        <div class="keyboard__row">
            <button class="keyboard__btn keyboard__btn--space">
                <%- space %>
                    </button>
        </div>
</script> 
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    
    <script src="index.js"></script>

</body>

</html>